---
interface Props {
  title?: string;
  lang?: string;
  description?: string;
}
const { title = 'Plenu', lang = 'es', description = 'Adoptar hábitos es más fácil con Plenu' } = Astro.props as Props;
---
<html lang={lang} class="bg-bg text-[var(--color-text-primary)]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#378560" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <style is:global>
    @import '../styles/global.css';
  </style>
</html>


